:root {
  background-color: #f5f5f5;
}

html {
  height: 100%;
  display: grid;
  place-content: center;
  font-family: "SN Pro";
}

.total {
  font-size: 3rem;
}

.click-me {
  background: #dcdcdc;
  width: 25rem;
  height: 20rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.content {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: #c0c0c0;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
}

.progress {
  width: 17rem;
  height: 3.76rem;
  background: #9a9a9a;
  padding: 0.5rem;
  border-radius: 1rem;
}

.progress-bar {
  height: 3.75rem;
  background: #2FD051;
  transition: width 0.5s ease;
  border-radius: 0.5rem;
  display: grid;
  align-content: center;
  justify-content: end;
}

.current-count {
  background: #aaa;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  transition: margin-right 0.5s ease;
}

button {
  width: 22rem;
  height: 5rem;
  background-color: #59b4ff;
  color: #f1f1f1;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:active {
  transform: scale(0.99);
}
