html {
  height: 100%;
  display: grid;
  place-content: center;

}

.click-me {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: #eee;
  border: 0.6rem solid #aaa;
  border-radius: 0.4rem;
  height: 20em;
  width: 15em;
}
